.shelves{
    display:flex;
    flex-direction:column;
    background-image: url("../assets/Shelf.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vh;
    padding: 30px 30px;
    text-wrap: normal;
}