body {
  /* max-width: 1280px; */
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
}
:root:root {
  /* max-width: 1280px; */
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
}
